/*************************************************
    GENERAL STYLES
 *************************************************/

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rounded{
    border-radius: 50%;
}

.flex{
    display: flex;
}

.clmn-flex{
    display: flex;
    flex-direction: column;
}

.relative{
    position: relative;
}

.bg-darkerblue{
    background-color: #0084fd;
}

.bg-blue{
    background-color: #b5ddff;
}
.bg-purple{
    background-color: #9593e6;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: #333333;
}


/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */

.boxed{
    width: 80%;
    margin: auto;
}

.col{
    padding: 0 1rem;
}

.card{
    padding: 1rem;
    border-radius: 2rem;
    flex-wrap: wrap;
    color: white;
}

/* TEXT */
.text-center {
    text-align: center;
}
.text-right{
    text-align: right;
}


p{
    line-height: 1.5rem;
}

.text-box h2,
h3,
p{
    margin-bottom: 1rem;
    width: 100%;
}


/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */

.h-container{
    justify-content: space-between;
    padding: 1rem 0;
    color: white;
}

/* MAIN CONTENT */


/*First Section */

.first-section{
    padding: 2rem 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-section .col{
    width: 100%;
    padding-top: 1rem;
    border-radius: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.first-section h2{
    color: #0084fd;
}

.first-section i{
    font-size: 4rem;
    color: #0084fd;
    margin-bottom: 1rem;
}


.col figure{
    margin-top: 1rem;
    width: 100%;
}

.first-section .apple-link{
    color: white;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color:  #0084fd;
    border-radius: 10% / 90%;
}
.first-section .apple-logo{
    font-size: 1rem;
    color: white;
    margin: 0;
}




/*Second Section */

.second-section{
    padding: 1rem 0 ;
}

.second-container{
    flex-wrap: wrap;
    color: white;
}

.second-section h2{
    font-size: 3rem;
}
.second-section figure{
    width: 100%;
    margin-bottom: 1rem;
}

.app-dev-box{
    color: black;
    padding: 1rem;
    border-radius: 2rem;
    flex-wrap: wrap;
}

.app-dev-box p:last-child{
    width: 2rem;
    margin: auto;
    border: 1px solid #9593e6; 
    border-radius: 50%;
    background-color: #9593e6;
    font-size: 1.5rem;
}

/* Third Section */

.third-section{
    padding: 2rem 0 5rem;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
}

.third-section h2{
    color: #9593e6;
}

.card figure{
    width: 100%; 
    margin-bottom: 1rem;
}

/* Fourth Section */

.fourth-section{
    padding: 3rem 0;
}

.fourth-section h2{
    color: white;
    margin-bottom: 1rem;
}

.n-cards-container{
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
}

.numbered-cards{
    padding: 1rem;
    border-radius: 1rem;
}

.numbered-cards h2{
    color:  #9593e6;
    font-size: 2rem;
}
.numbered-cards h3{
    color:  #9593e6;
}

.numbered-cards p:last-child{
    color: white;
    width: 30%;
    text-align: center;
    border: 1px solid #9593e6;
    border-radius: 10% / 90% ;
    background-color: #9593e6;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
   }

/* Fifth Section */

.fifth-section{
    padding: 2rem 0;
    flex-wrap: wrap;
}
.fifth-section h2{
    color: #9593e6;
    font-size: 3rem;
}

.fig-container h3{
    color: #9593e6;
}

.fig-container p:last-of-type{
    color: white;
    width: 20%;
    min-width: 60%;
    text-align: center;
    background-color: #9593e6;
    border-radius: 10% / 90%;
}

/* Footer */

.upper-footer-container{
    padding: 2rem 0;
}
.upper-footer-container p:first-child{
    color: #d0cff3;
    opacity:  0.8;
}
.upper-footer-container h3{
    color: white;
    font-size: 2rem;
}
.upper-footer-container h2{
    font-size: 4rem;
    color: #fdc15f;
}
.upper-footer-container p{
    width: 60%;
    color: white;
    margin: 1rem auto;
}
.upper-footer-container .link-start{
    min-width: 50%;
    width: 20%;
    padding: 1rem 2rem;
    color: #9593e6;
    margin: auto;
    border: 1px solid ;
    border-radius: 20%/80%;
    background-color: white;
}
.upper-footer-container p:last-of-type{
    width: 50%;
    font-size: 0.8rem;
}
.underlined{
    text-decoration: underline;
}


.lower-footer-container{
    padding: 2rem 0;
    color: white;
}
.lower-footer-text-container{
    width: 60% ;
    margin: auto;
}
.lower-footer-text-container p{
    font-size: 0.8rem;
}
.lower-footer-text-container span{
    color: #9593e6;
}


/* MEDIA */

@media screen and (min-width:480px) and (max-width:1024px) {
   
    .boxed{
        width: 95%;
    }


    /* First Section */

    .first-section .col{
        width: calc((100% / 3) - 1rem);
    }

    .first-section .col:first-child{
        width: calc((100% / 1.5) - 1rem);
        text-align: left;
    }
    .first-section .apple-link{  
        margin: 0;    
    }


    /* Third section */

   .card figure{
    width: 30%;
   }


   .card .text-box{
    width: 70%;
    padding-left: 1rem;
    text-align: left;
   }

   /* fourth section */
   
   .numbered-cards{
    width: calc((100% / 2) - 1.5rem);
   }

   /* fifth section */

   .fifth-section .text-box{
    width: 60%;
    text-align: left;
    padding-right: 2rem;
   }

   .fifth-section .fig-container{
    width: 40%;
   }
   .fifth-section figure{
    width: 50%;
    margin-bottom: 1rem;
   }
   .fifth-section img{
    border-radius: 50%;
   }
}

@media screen and (min-width:1025px) {

    /* First Section */

        

    .first-section .col{
            width: calc((100% / 3) - 1rem);
    }
    
    .first-section .col:first-child{
            width: calc((100% / 1.5) - 1rem);
            text-align: left;
    }

    /* Second Section */

       
    /* Third section */

    .card figure{
        width: 30%;
       }
    .card .text-box{
        width: 70%;
        padding-left: 1rem;
        text-align: left;
       }


    /* fourth section */
   
    .numbered-cards{
        width: calc((100% / 2) - 1.5rem);
     }

    /* fifth section */

   .fifth-section .text-box{
    width: 60%;
    text-align: left;
    padding-right: 2rem;
   }

   .fifth-section .fig-container{
    width: 40%;
   }
   .fifth-section figure{
    width: 50%;
    margin-bottom: 1rem;
   }
   .fifth-section figure{
    width: 50%;
    margin-bottom: 1rem;
   }
   .fifth-section img{
    border-radius: 50%;
   }
}