/*************************************************
    GENERAL STYLES
 *************************************************/

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
}

.clmn-flex{
    display: flex;
    flex-direction: column;
}

.bg-blue{
    background-color: skyblue;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */

.boxed{
    width: 80%;
    margin: auto;
}

.col{
    padding: 0 1rem;
}

/* TEXT */
.text-center {
    text-align: center;
}
.text-right{
    text-align: right;
}

h2{
    color: rgb(18, 105, 187);
}


/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */

.h-container{
    justify-content: space-between;
    padding: 1rem 0;
}

/* MAIN CONTENT */

main{
    background-color: rgb(211, 205, 205);
}

/*First Section */

.first-section{
    padding: 2rem 0;
    flex-wrap: wrap;
}

.first-section .col{
    width: 100%;
    padding-top: 1rem;
    border-radius: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-box h2,
p,
div{
    margin-bottom: 1rem;
    width: 100%;
}

.col figure{
    margin-top: 1rem;
    width: 100%;
}