/*************************************************
    GENERAL STYLES
 *************************************************/

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
}

.clmn-flex{
    display: flex;
    flex-direction: column;
}

.relative{
    position: relative;
}

.bg-darkerblue{
    background-color: #0084fd;
}

.bg-blue{
    background-color: #b5ddff;
}
.bg-purple{
    background-color: #9593e6;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: #333333;
}


/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */

.boxed{
    width: 80%;
    margin: auto;
}

.col{
    padding: 0 1rem;
}

.card{
    padding: 1rem;
    border-radius: 2rem;
    flex-wrap: wrap;
    color: white;
}

/* TEXT */
.text-center {
    text-align: center;
}
.text-right{
    text-align: right;
}


p{
    line-height: 1.5rem;
}

.text-box h2,
h3,
p{
    margin-bottom: 1rem;
    width: 100%;
}


/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */

.h-container{
    justify-content: space-between;
    padding: 1rem 0;
}

/* MAIN CONTENT */


/*First Section */

.first-section{
    padding: 2rem 0;
    gap: 1rem;
    flex-wrap: wrap;
}

.first-section .col{
    width: 100%;
    padding-top: 1rem;
    border-radius: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.first-section h2{
    color: #0084fd;
}


.col figure{
    margin-top: 1rem;
    width: 100%;
}

/*Second Section */

.second-section{
    padding: 1rem 0 ;
}

.second-container{
    flex-wrap: wrap;
    color: white;
}

.second-section h2{
    font-size: 3rem;
}
.second-section figure{
    width: 100%;
    margin-bottom: 1rem;
}

.app-dev-box{
    color: black;
    padding: 1rem;
    border-radius: 2rem;
    flex-wrap: wrap;
}

/* Third Section */

.third-section{
    padding: 2rem 0 5rem;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
}

.card figure{
    width: 100%; 
    margin-bottom: 1rem;
}

/* Fourth Section */

.fourth-section{
    padding: 3rem 0;
}

.fourth-section h2{
    color: white;
    margin-bottom: 1rem;
}

.n-cards-container{
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
}

.numbered-cards{
    padding: 1rem;
    border-radius: 1rem;
}

.numbered-cards h2{
    color:  #9593e6;
    font-size: 2rem;
}
.numbered-cards h3{
    color:  #9593e6;
}

/* Fifth Section */

.fifth-section{
    padding: 2rem 0;
    flex-wrap: wrap;
}
.fifth-section h2{
    color: #9593e6;
    font-size: 3rem;
}

.fig-container h3{
    color: #9593e6;
}

/* Footer */

.upper-footer-container{
    padding: 2rem 0;
}

.lower-footer-container{
    padding: 2rem 0;
    color: white;
}

/* MEDIA */

@media screen and (min-width:480px) and (max-width:768px) {
   
    .first-section .col{
        width: calc((100% / 3) - 1rem);
    }

    .first-section .col:first-child{
        width: calc((100% / 1.5) - 1rem);
        text-align: left;
    }


    /* Third section */

   .card figure{
    width: 30%;
   }
   .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
   }

   .card .text-box{
    width: 70%;
    padding-left: 1rem;
    text-align: left;
   }

   /* fourth section */
   
   .numbered-cards{
    width: calc((100% / 2) - 1.5rem);
   }

   /* fifth section */

   .fifth-section .text-box{
    width: 60%;
    text-align: left;
    padding-right: 2rem;
   }

   .fifth-section .fig-container{
    width: 40%;
   }
   .fifth-section figure{
    margin-bottom: 1rem;
   }
   .fifth-section img{
    border-radius: 50%;
   }
}